.btn {
  font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
  height: 45px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  background: #EE9BA3;
  color: white;
  font-size: 14px;
}
