body {
  background: #FAF3EC;
  font-family: 'Arial';
}

:-ms-input-placeholder,:-moz-placeholder,::-moz-placeholder,::-webkit-input-placeholder {
  color: #748194;
}

.container {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.bg {
  height: 100vh;
  display: flex;
  border-radius: 15px 15px 15px 15px;
}

.c1 {
  box-shadow: 0 0 10px grey;
  background-color: white;
  width: 300px;
  height: 500px;
  display: inline-grid;
  border-radius: 15px 15px 15px 15px;
}

.c11 {
  background-image: url('../../images/bg-paris.jpg');
  background-size: 300px 400px;
  background-repeat: no-repeat;
  background-color: white;
  width: 100%;
  height: 200px;
  display: inline-block;
  z-index: 4;
  border-radius: 15px 15px 150px 150px;
}

.mainhead {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-top: 50px;
}

.mainp {
  color: white;
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}

.c2 {
  background-color: white;
  width: 300px;
  height: 500px;
  border-radius: 15px;
  display: inline-grid;
  padding: 25px;
}

.username {
  font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
  height: 35px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #F6F7F9;
  color: #748194;
  font-size: 14px;
}

.title-form {
  color: #748194;
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
}

.listmission{
  overflow-y: scroll;
  height: 200px;
  padding: 10px;
}

.item-mission {
  padding: 5px;
  p,a {
    font-size: 0.8rem;
  }
}

.t-center {
  text-align: center;
}

.erreurs {
  background: white;
  height: 40vh;
  padding: 50px;
  display: flex;
  align-items: center;
  border-radius: 25px;
}

